body {
    background-color: #0e030c;
}

* {
    color: #ffe1ff;
}

h1 {
    text-align: center;
}

img {
    width: 150px;
}

button {
    background-color: #850596;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

button:hover {
    box-shadow: 0 0 10px #ffe1ff;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}